.themify_builder .text-793-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-793-0-0-2.module-text { font-size: 18px;  } 
.themify_builder .text-793-1-0-2.module-text { font-size: 18px;  } 
.themify_builder .text-793-2-0-2.module-text { font-size: 18px;  } 
.themify_builder .text-793-3-0-2.module-text { font-size: 18px;  } 
.themify_builder .text-793-4-0-2.module-text { font-size: 18px;  } 
