.themify_builder .text-1286-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-1286-1-0-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-1-0-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-1-1-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-1-1-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-1-2-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-1-2-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-1-3-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-1-3-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-2-0-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-2-0-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-2-1-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-2-1-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-2-2-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-2-2-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-2-3-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-2-3-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-3-0-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-3-0-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-3-1-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-3-1-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1286-3-2-2.module-text { font-size: 20px;  } 
.themify_builder .text-1286-3-2-2.module-text a { text-decoration: none;  } 
