.themify_builder .text-902-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .image-902-1-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-1-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-1-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-2-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-2-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-2-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-3-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-3-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-902-3-2-1.module-image .image-content { font-size: 14px;  } 
