.themify_builder .text-1502-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-1502-1-0-2.module-text { font-size: 14px;  } 
.themify_builder .text-1502-1-0-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1502-1-1-2.module-text { font-size: 14px;  } 
.themify_builder .text-1502-1-1-2.module-text a { text-decoration: none;  } 
.themify_builder .text-1502-1-2-2.module-text { font-size: 14px;  } 
.themify_builder .text-1502-1-2-2.module-text a { text-decoration: none;  } 
