.themify_builder .text-836-0-0-1.module-text { font-size: 28px;  } 
.themify_builder .buttons-836-sub_row_0-0-2-0-0 div.module-buttons { text-align: center; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .buttons-836-sub_row_0-0-2-0-0 .module-buttons .module-buttons-item a:hover { background-color: #000763;  } 
.themify_builder .buttons-836-sub_row_0-0-2-1-0 div.module-buttons { text-align: center; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .buttons-836-sub_row_0-0-2-1-0 .module-buttons .module-buttons-item a:hover { background-color: #000763;  } 
.themify_builder .buttons-836-sub_row_0-0-2-2-0 div.module-buttons { text-align: center; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .buttons-836-sub_row_0-0-2-2-0 .module-buttons .module-buttons-item a:hover { background-color: #000763;  } 
.themify_builder .text-836-0-0-4.module-text { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f; font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-0-0-4.module-text h1 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text h2 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text h3:not(.module-title) { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text h4 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text h5 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text h6 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-0-0-4.module-text a { color: #17024f; text-decoration: underline;  } 
.themify_builder .text-836-1-1-1.module-text { font-size: 18px;  } 
.themify_builder .text-836-2-0-1.module-text { font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-2-0-3.module-text { text-align: center;  } 
.themify_builder .text-836-2-1-1.module-text { font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-2-1-3.module-text { text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-1-0-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-1-1-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-1-2-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-2-0-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-2-1-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_3-0-2-2-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-3-0-3.module-text { font-size: 18px;  } 
.themify_builder .text-836-4-1-1.module-text { font-size: 18px; text-align: justify;  } 
.themify_builder .text-836-sub_row_5-0-1-0-2.module-text { font-size: 16px; text-align: justify;  } 
.themify_builder .image-836-sub_row_5-0-1-1-0.module-image { background-color: #f2f2f3;  } 
.themify_builder .text-836-6-0-2.module-text { font-size: 12px;  } 
.themify_builder .text-836-7-0-1.module-text { font-size: 18px;  } 
.themify_builder .text-836-sub_row_7-0-3-1-0.module-text { text-align: center;  } 
.themify_builder .text-836-sub_row_7-0-3-2-0.module-text { text-align: center;  } 
.themify_builder .text-836-10-0-1.module-text { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f; font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-10-0-1.module-text h1 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text h2 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text h3:not(.module-title) { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text h4 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text h5 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text h6 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-10-0-1.module-text a { color: #17024f; text-decoration: underline;  } 
.themify_builder .text-836-sub_row_10-0-3-1-0.module-text { font-size: 18px;  } 
.themify_builder .text-836-11-0-1.module-text { font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-sub_row_12-0-1-0-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_12-0-1-1-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_12-0-1-2-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_13-0-1-0-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_13-0-1-1-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-sub_row_13-0-1-2-1.module-text { font-size: 16px; text-align: center;  } 
.themify_builder .text-836-14-1-1.module-text { text-align: justify;  } 
.themify_builder .text-836-17-0-1.module-text { font-size: 12px;  } 
.themify_builder .text-836-18-0-1.module-text { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f; font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-18-0-1.module-text h1 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text h2 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text h3:not(.module-title) { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text h4 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text h5 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text h6 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-18-0-1.module-text a { color: #17024f; text-decoration: underline;  } 
.themify_builder .text-836-19-0-2.module-text { font-size: 14px;  } 
.themify_builder .text-836-19-1-1.module-text { font-size: 14px; text-align: justify;  } 
.themify_builder .text-836-20-0-1.module-text { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f; font-size: 18px; margin-bottom: -5%;  } 
.themify_builder .text-836-20-0-1.module-text h1 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text h2 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text h3:not(.module-title) { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text h4 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text h5 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text h6 { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #17024f;  } 
.themify_builder .text-836-20-0-1.module-text a { color: #17024f; text-decoration: underline;  } 
.themify_builder .text-836-21-1-1.module-text { text-align: justify;  } 
