.themify_builder .text-1031-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .image-1031-1-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-1-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-1-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-2-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-2-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-2-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-3-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-3-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-3-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-4-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-4-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-4-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-5-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1031-5-1-1.module-image .image-content { font-size: 14px;  } 
