.themify_builder .text-1529-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-1529-1-0-2.module-text { font-size: 18px; text-align: center;  } 
.themify_builder .text-1529-1-0-2.module-text a { text-decoration: underline;  } 
.themify_builder .text-1529-1-1-2.module-text { font-size: 18px; text-align: center;  } 
.themify_builder .text-1529-1-1-2.module-text a { text-decoration: underline;  } 
.themify_builder .text-1529-1-2-2.module-text { font-size: 18px; text-align: center;  } 
.themify_builder .text-1529-1-2-2.module-text a { text-decoration: underline;  } 
.themify_builder .text-1529-1-3-2.module-text { font-size: 18px; text-align: center;  } 
.themify_builder .text-1529-1-3-2.module-text a { text-decoration: underline;  } 
