.themify_builder .text-947-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .image-947-1-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-1-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-1-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-2-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-2-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-2-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-3-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-3-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-947-3-2-1.module-image .image-content { font-size: 14px;  } 
