.themify_builder .text-648-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-648-sub_row_0-0-2-0-0.module-text { font-size: 14px;  } 
.themify_builder .text-648-0-0-3.module-text { font-size: 14px;  } 
