.themify_builder .text-1007-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .image-1007-1-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1007-1-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1007-1-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1007-2-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1007-2-1-1.module-image .image-content { font-size: 14px;  } 
