.themify_builder .text-1583-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .text-1583-1-0-2.module-text { font-size: 18px; text-align: center;  } 
.themify_builder .text-1583-1-0-2.module-text a { text-decoration: underline;  } 
