/* .themify_builder_8_row.module_row_2 Style */
.themify_builder_8_row.module_row_2.module_row {
	padding-top : 4%
}

.themify_builder .text-8-2-0-1.module-text { color: #1f1f1f; font-size: 35px;  } 
.themify_builder .text-8-2-0-1.module-text h1 { color: #1f1f1f;  } 
.themify_builder .text-8-2-0-1.module-text h2 { color: #1f1f1f;  } 
.themify_builder .text-8-2-0-1.module-text h3:not(.module-title) { color: #1f1f1f;  } 
.themify_builder .text-8-2-0-1.module-text h4 { color: #1f1f1f;  } 
.themify_builder .text-8-2-0-1.module-text h5 { color: #1f1f1f;  } 
.themify_builder .text-8-2-0-1.module-text h6 { color: #1f1f1f;  } 
.themify_builder .pro-image-8-3-0-1.module-pro-image .image-pro-caption { color: #ffffff;  } 
.themify_builder .pro-image-8-3-0-1.module-pro-image .image-pro-title { color: #ffffff;  } 
.themify_builder .pro-image-8-3-0-1.module-pro-image { font-size: 12px; text-align: justify; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .pro-image-8-3-0-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50); color: #ffffff;  } 
.themify_builder .pro-image-8-3-1-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-3-1-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-3-2-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-3-2-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-3-3-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-3-3-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-4-0-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-4-0-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-4-1-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-4-1-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-4-2-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-4-2-1.module-pro-image a.image-pro-action-button { background-color: #050505; background-color: rgba(5,5,5, 0.50);  } 
.themify_builder .pro-image-8-4-3-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-4-3-1.module-pro-image a.image-pro-action-button { background-color: #000000; background-color: rgba(0,0,0, 0.50);  } 
.themify_builder .pro-image-8-5-1-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-5-1-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-5-2-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-5-2-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
.themify_builder .pro-image-8-5-3-1.module-pro-image { font-size: 12px; padding-top: 5%; padding-right: 3%; padding-bottom: 5%; padding-left: 3%;  } 
.themify_builder .pro-image-8-5-3-1.module-pro-image a.image-pro-action-button { background-color: #171717; background-color: rgba(23,23,23, 0.50);  } 
/* .themify_builder_8_row.module_row_6 Style */
.themify_builder_8_row.module_row_6.module_row {
	padding-top : 4%
}

.themify_builder .text-8-6-0-2.module-text { color: #1f1f1f; font-size: 35px;  } 
.themify_builder .text-8-6-0-2.module-text h1 { color: #1f1f1f;  } 
.themify_builder .text-8-6-0-2.module-text h2 { color: #1f1f1f;  } 
.themify_builder .text-8-6-0-2.module-text h3:not(.module-title) { color: #1f1f1f;  } 
.themify_builder .text-8-6-0-2.module-text h4 { color: #1f1f1f;  } 
.themify_builder .text-8-6-0-2.module-text h5 { color: #1f1f1f;  } 
.themify_builder .text-8-6-0-2.module-text h6 { color: #1f1f1f;  } 
.themify_builder .tile-8-8-0-1.module-tile { font-family: Open Sans; text-align: center;  } 
.themify_builder .tile-8-8-0-2.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-3.module-tile { font-family: Open Sans; text-align: center;  } 
.themify_builder .tile-8-8-0-4.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-5.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-6.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-7.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-8.module-tile { text-align: center;  } 
.themify_builder .tile-8-8-0-9.module-tile { font-size: 15px; text-align: center;  } 
.themify_builder .tile-8-8-0-10.module-tile { text-align: center;  } 
.themify_builder .image-8-9-0-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-9-1-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-9-2-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-9-3-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-9-4-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-10-0-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-10-1-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-10-2-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-10-3-1.module-image .image-content { font-size: 14px; text-align: center;  } 
.themify_builder .image-8-10-4-1.module-image .image-content { font-size: 14px; text-align: center;  } 
/* .themify_builder_8_row.module_row_12 Style */
.themify_builder_8_row.module_row_12.module_row {
	background-color: #03032e;
	color: #ffffff;
	padding-top : 3%
}
.themify_builder_8_row.module_row_12.module_row h1 {
	color: #ffffff
}
.themify_builder_8_row.module_row_12.module_row h2 {
	color: #ffffff
}
.themify_builder_8_row.module_row_12.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_8_row.module_row_12.module_row h4 {
	color: #ffffff
}
.themify_builder_8_row.module_row_12.module_row h5 {
	color: #ffffff
}
.themify_builder_8_row.module_row_12.module_row h6 {
	color: #ffffff
}

.module_row_12 .module_column_0.tb_8_column{width:15.1536%;}.module_row_12 .module_column_1.tb_8_column{width:63.2691%;}.themify_builder .text-8-12-1-1.module-text { text-align: center;  } 
.module_row_12 .module_column_2.tb_8_column{width:15.1791%;}/* .themify_builder_8_row.module_row_13 Style */
.themify_builder_8_row.module_row_13.module_row {
	padding-top : 4%
}

.themify_builder .text-8-13-0-1.module-text { font-size: 22px;  } 
.themify_builder .text-8-13-0-4.module-text { font-size: 22px;  } 
.themify_builder .text-8-sub_row_13-0-5-2-0.module-text { text-align: left;  } 
/* .themify_builder_8_row.module_row_14 Style */
.themify_builder_8_row.module_row_14.module_row {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h1 {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h2 {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h4 {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h5 {
	color: #ffffff
}
.themify_builder_8_row.module_row_14.module_row h6 {
	color: #ffffff
}

/* .themify_builder_8_row.module_row_15 Style */
.themify_builder_8_row.module_row_15.module_row {
	background-image: url(/wp-content/uploads/2017/01/medical-e1.jpg);
	background-color: #e6e6e6;
	color: #ffffff;
	padding-top : 10%;
	padding-bottom : 10%
}
.themify_builder_8_row.module_row_15.module_row h1 {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row h2 {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row h4 {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row h5 {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row h6 {
	color: #ffffff
}
.themify_builder_8_row.module_row_15.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.40)
}
.themify_builder_8_row.module_row_15.module_row>.builder_row_cover:before {
	background:rgba(0,0,0, 0.50)
}

.themify_builder .text-8-15-0-1.module-text { color: #ffffff; font-size: 35px;  } 
.themify_builder .text-8-15-0-1.module-text h1 { color: #ffffff;  } 
.themify_builder .text-8-15-0-1.module-text h2 { color: #ffffff;  } 
.themify_builder .text-8-15-0-1.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-8-15-0-1.module-text h4 { color: #ffffff;  } 
.themify_builder .text-8-15-0-1.module-text h5 { color: #ffffff;  } 
.themify_builder .text-8-15-0-1.module-text h6 { color: #ffffff;  } 
.themify_builder .icon-8-15-0-2 div.module-icon { text-align: center;  } 
.themify_builder .icon-8-15-0-2 div.module-icon span { color: #ffffff;  } 
.themify_builder .icon-8-15-0-2 div.module-icon .module-icon-item:hover span { color: #b8b8b8;  } 
.themify_builder .icon-8-15-0-2 div.module-icon a span { text-decoration: underline;  } 
.themify_builder .icon-8-15-0-2 div.module-icon a i { text-decoration: underline;  } 
.themify_builder .icon-8-15-0-4 div.module-icon { text-align: center;  } 
.themify_builder .icon-8-15-0-5 div.module-icon { font-family: Open Sans; text-align: center;  } 
.themify_builder .text-8-sub_row_15-0-7-0-0.module-text { font-size: 22px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-1 div.module-icon { text-align: center;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-1div.module-icon { color: #ebe6e6;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-1 div.module-icon i { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-1 div.module-icon a { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-1 div.module-icon span { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-2 div.module-icon { text-align: center;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-4 div.module-icon { text-align: center;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-4div.module-icon { color: #ebe6e6;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-4 div.module-icon i { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-4 div.module-icon a { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-4 div.module-icon span { font-size: 20px;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-5 div.module-icon { text-align: center;  } 
.themify_builder .text-8-sub_row_15-0-7-0-6.module-text { font-size: 22px; margin-bottom: -10%;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-8 div.module-icon { text-align: center; margin-top: -6%;  } 
.themify_builder .icon-8-sub_row_15-0-7-0-10 div.module-icon { text-align: center; margin-top: -6%;  } 
.themify_builder .contact-8-sub_row_15-0-7-1-1.module-contact { font-size: 16px; text-align: center;  } 
.themify_builder .contact-8-sub_row_15-0-7-1-1.module-contact .control-label { font-size: 16px;  } 
.themify_builder .contact-8-sub_row_15-0-7-1-1.module-contact input[type="text"] { color: #16;  } 
.themify_builder .contact-8-sub_row_15-0-7-1-1.module-contact textarea { color: #16;  } 
