.themify_builder .text-1002-0-0-1.module-text { font-size: 24px;  } 
.themify_builder .image-1002-1-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-1-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-1-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-2-0-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-2-1-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-2-2-1.module-image .image-content { font-size: 14px;  } 
.themify_builder .image-1002-3-0-1.module-image .image-content { font-size: 14px;  } 
